* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c2c2c;
    min-width: 330px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    background-color: #2c2c2c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.center{
    background-color: transparent;
}

.article {
    background-color: #E0EAF6;
    padding: 20px;
    width: 60vw;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    border: 1px solid black;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}


.card:hover .twitter {
    filter: invert(62%) sepia(46%) saturate(5283%) hue-rotate(178deg) brightness(95%) contrast(98%);
}

.card:hover .youtube {
    filter: invert(12%) sepia(87%) saturate(7377%) hue-rotate(3deg) brightness(98%) contrast(113%);
}

.card:hover .csharp {
    filter: invert(24%) sepia(26%) saturate(3983%) hue-rotate(246deg) brightness(96%) contrast(83%);
}

img {
    width: 60px;
}

.card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}


.title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
}

.text {
    text-align: center;
    margin: 10px;
    font-size: 1rem;
}

.button {
    background-color: black;
    color: #E0EAF6;
    align-self: center;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.nav{
    background-color: black;
    color: white;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .title
{
    font-size: 36px;
    margin: 23.5px;
    border-bottom: 1px solid transparent;
    transition: .5s;
}

.nav .title:hover
{
    border-bottom: 1px solid #E0EAF6;
}

.nav .icon
{
    margin: 13px;
    border: 2px solid transparent;
    height: 64px;
    width: 64px;
    transition: .5s;
}

.nav .icon:hover
{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 2px solid white;
}


@media (max-width: 549px) {
    .center {
        width: 100%;
    }

}